

.event-area {
  background-color: #a0caf8;
  border-width: 1.5px;
  border-style: solid;
  border-color: #b0b0b0;
  border-radius: 5px;
}

.event-name {
  background-color: #0f6bd2;
  color: white;
  font-size: 150%;
  padding: 10px;
}

.event-information {
  padding: 10px;
  font-size: 125%;
}

.event-description {
  margin-top: 20px;
  margin-bottom: 20px;
}

.num-volunteers-badge {
  float: right;
  font-size: 105%;
  padding: 4px 8px;
  border-radius: 20px;
}