<html>
  {% load staticfiles %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}112 Staff{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/timepicker.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css %}{% endblock %} 
  </head>

  <body>
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        15-112 Staff
                    </a>
                </li>
                <li>
                    <a href="#">Announcements</a>
                </li>
                <li>
                    <a href="/calendar">Calendar</a>
                </li>
                <li>
                    <a href="#">Swapping</a>
                </li>
                <li>
                    <a href="/volunteering">Volunteering</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="/autolab">Autolab</a>
                </li>
                <li>
                    <a href="/piazza">Piazza</a>
                </li>
                <div class="edit-event" style="display:none;">
                  <div class="center-text" style="font-size:125%;">Edit Event</div>
                  <div class="edit-event-area">
                    <input placeholder="Event Name" data-field="name" id="edit-name" type="text">
                  </div>
                  <div class="edit-event-area">
                    <input placeholder="Location" data-field="location" id="edit-location" type="text">
                  </div>
                  <div class="edit-event-area">
                    <textarea placeholder="Description.." data-field="description" id="edit-description" type="text"></textarea>
                  </div>
                  <div class="edit-event-area">
                    <input id="edit-date" class="span2" data-date-format="mm/dd/yyyy" data-date="12-12-2015" size="16" type="text" placeholder="Event Date" readonly="">
                  </div>
                  <div class="time-area">
                    <span class="black-text">From</span> <input data-field="start_time" id="edit-start-time" placeholder="Start Time" type="text" class="input-small">
                    <span class="black-text">To</span> <input data-field="end_time" id="edit-end-time" placeholder="End Time" type="text" class="input-small">
                  </div>
                  <div class="select-area">
                    Type:
                    <select id="edit-event-type" class="select-item form-control" data-field="event_type">
                      <option value="Office Hours">Office Hours</option>
                      <option value="Small Group">Small Group</option>
                      <option value="Review Session">Review Session</option>
                      <option value="Grading">Grading</option>
                      <option value="Meeting">Meeting</option>
                      <option value="Recitation">Recitation</option>
                      <option value="Staff Event">Staff Event</option>
                      <option value="Misc">Misc</option>
                    </select>
                  </div>
                  <div class="select-area">
                    Reminder:
                    <select id="edit-reminder-time" class="select-item form-control">
                      <option value="None">None</option>
                      <option value="00:15">15 Minutes</option>
                      <option value="00:30">30 Minutes</option>
                      <option value="01:00">1 Hour</option>
                      <option value="24:00">1 Day</option>
                    </select>
                  </div>
                  <div class="select-area">
                    Repeat:
                    <select id="edit-repeat-interval" class="select-item form-control">
                      <option value="None">None</option>
                      <option value="weekly">Every Week</option>
                    </select>
                  </div>
                  <div class="edit-event-area">
                    <input id="edit-end-repeat" class="span2" data-date-format="mm/dd/yyyy" data-date="12-12-2015" size="16" type="text" placeholder="Repeat End Date" readonly="">
                  </div>
                  <div class="volunteer-area">
                    Volunteers:
                    <input placeholder="0, 1, 2, etc.." id="edit-num-volunteers" data-field="num_volunteers_needed" type="number">
                  </div>
                  <div class="volunteer-area">
                    Attending: <span id="volunteer-area"></span>
                  </div>
                  <button style="margin-top: 10px;" id="delete-event-button" class="form-control btn btn-danger">Delete Event</button>
                  <button style="margin-top: 10px;" id="edit-event-button" class="form-control btn btn-primary">Save</button>
                </div>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div id="header">
              <div id="menu-toggle">
                <span class="arrow glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              </div>
              <div class="leftnav-header">
                {{ user.first_name }} {{ user.last_name }}
              </div>
            </div>
            <div class="fullscreen">
              {% block fullscreen %}{% endblock %}
            </div>
            <div class="container-fluid main-content">
              <div class="row">
                <div class="col-md-12">
                  {% block body %}{% endblock %}
                </div>
              </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/timepicker.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
          $(this).find(".arrow").toggleClass("glyphicon-chevron-left").toggleClass("glyphicon-chevron-right")
          setTimeout(resize_heights, 1000);
      });

      $("#edit-date").datepicker();
      $("#edit-end-repeat").datepicker();
      $("#edit-start-time").timepicker({defaultTime:false, template:false, showInputs:false, minuteStep: 15});
      $("#edit-end-time").timepicker({defaultTime:false, template:false, showInputs:false, minuteStep: 15});
    </script>
    {% block js %}{% endblock %}
  </body>

</html>